.filter-components{
    display:flex;
    justify-content: space-between;
}
.filter-components .filter-input{
    width:40%;
}
.filter-components .toggle-DD{
    display: flex;
    width: 50%;
    /* align-content: ; */
}
.toggle-DD .DD-wrapper{  
  width:60%;
  margin-right: 10px;
}
@media (max-width: 768px){
   .filter-components{
    display: block;
   }
   .filter-components .toggle-DD{
    width:100%;
   }
}