.filter-container{
    position: relative;
    top: 50%;
    max-width:90%;
    color:#fff;
}
.header-wrapper .header-txt {
    font-size: 30px;
    font-weight:100;
}
.header-txt span{
    font-weight: 700;
}
p{
    font-size:12px;
    font-weight: 100;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
.btns-wrapper .filter-btn{
    border-radius: 20px;
    color: #FFFFFF;
    padding: 24px 30px;
    border: none;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
}
.filter-btn svg{
    font-size:36px;
}
.btns-wrapper p{
    margin-top:14px;
}